.contact-main {
    padding: 100px 132px 110px 133px;
    background-color: #262A34;
    text-align: center;
    color: #FFFFFF;
}

.contact-main-title {
    font-weight: 400;
    font-size: 96px;
    letter-spacing: 1.06;
}

.contact-main-subtitle {
    width: 760px;
    margin: 33px auto;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 32px;
}

.contact-main-action {
    width: 234px;
    margin: 38px auto;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 18.5px;

}

.contact-connect .home-connect {
    margin-top: 0;
} 