.header {
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 80px;
    padding-right: 80px;
}

.header-nav {
    margin-top: 6px;
    list-style-type: none;
    gap: 28px;
    margin-left: 24px;
}

.header-nav-item {
    padding-bottom: 16px;
}

.header-nav-item a,
.header-location,
.header-contact {
    font-size: 14px;
    color: #181A20;
}

.header-info {
    gap: 29px;
    margin-top: 6px;
}

.about-team-founder {
    margin-top: 100px;
    margin-left: 447px;
}

.team-member-name {
    margin-top: 24px;
    font-size: 32px;
}

.team-member-pos {
    margin-top: 8px;
    font-size: 18px;
    color: #F0F0F0;
}